
palette=custom
palette-black={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
palette-red={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
palette-green={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
palette-yellow={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
palette-blue={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
palette-magenta={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}
palette-cyan={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
palette-light-grey={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
palette-dark-grey={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
palette-light-red={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
palette-light-green={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
palette-light-yellow={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
palette-light-blue={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
palette-light-magenta={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}
palette-light-cyan={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
palette-white={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
palette-foreground={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
palette-background={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
